// Variabler
$headers: "Karla", sans-serif;
$base: "Lato", sans-serif;
$navFont: "Oswald", sans-serif;

:root {
    font-size: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    font-family: $headers;
    font-size: 0.75em;

    .language {
        display: flex;

        img {
            height: 22px;
        }

        > div,
        > span {
            border: 1px solid #808080;
            padding: 4px 8px;
            background: #f5f5f5;
        }

        > span {
            padding-top: 6px;
        }
    }

    .search * {
        text-align: center;
        right: 0;
    }

    .search input:first-child {
        border: 1px solid #808080;
        padding: 4px 8px;
        max-width: 200px;
    }
}

.home {
    img {
        height: 50px;
    }
    h2 {
        display: inline-block;
        padding: 0px 10px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;

    nav ul {
        display: flex;
        font-family: $navFont;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 5px 10px;
            border-bottom: 3px solid white;
            transition: all 0.3s;

            &.active,
            &:hover {
                border-bottom: 3px solid #333;
            }

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    .basket {
        display: flex;

        .basketContent {
            background: #333;
            color: white;

            p {
                padding: 10px 20px;
                margin: 0;
            }
        }

        .shopIcon {
            background: #777;
            color: white;

            i {
                padding: 10px 20px;
            }
        }
    }
}

.login {
    padding: 10px;
    font-family: $headers;
    form {
        display: inline-block;
    }

    input[type="submit"] {
        background: #eee;
        border: 1px solid #bbb;
        padding: 2px 5px;
        transition: all 0.3s;

        &:hover {
            background: darken(#eee, 10%);
        }
    }

    #newUser {
        color: black;
        text-decoration: none;
    }
}

//
// CreateArticle
//

.createArticle form > div {
    display: flex;
    padding: 10px;

    label {
        width: 120px;
    }

    input,
    textarea {
        flex: 1;
    }
}

main {
    display: flex;

    aside {
        width: 250px;

        h4 {
            margin: 0;
            padding: 10px 20px;
            font-size: 1rem;
            font-weight: lighter;
        }

        > div {
            padding: 0 20px;
            margin-bottom: 20px;
            font-family: $navFont;
            color: #666;

            > div:first-child {
                background: darken(#eee, 10%);
            }

            > div:nth-child(2) {
                background: #eee;
                font-family: $headers;

                a {
                    color: #666;
                    text-decoration: none;
                }

                ul,
                form {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    padding: 10px 20px;

                    li,
                    input {
                        padding: 5px 0;
                        font-size: 0.75rem;
                    }

                    input {
                        padding: 5px 10px;
                        margin: 2px;
                        background: white;
                        border: 1px solid #ddd;
                        transition: all 0.3s;

                        &:hover {
                            background: #eee;
                        }
                    }
                }
            }

            input[type="submit"] {
                border: 1px solid #bbb;
                background: #eee;
                transition: all 0.3s;

                &:hover {
                    background: darken(#eee, 5%);
                }
            }

            .newsBottom {
                background: darken(#eee, 10%);
                padding: 10px 20px;
                font-family: $headers;
            }
        }
    }

    .products {
        flex: 1;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: columns;

        h3 {
            text-align: center;
        }

        .inspiration {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            
            .frontpageHeadCategory{
                width: 45% !important;
            }
            .headCategory {
                position: relative;
                margin: 5px 10px;
                width: 30%;
                img {
                    opacity: 0.7;
                    height: 250px;
                    transition: all 0.3s;
                    width: 100%;
                    &:hover {
                        opacity: 1;
                    }
                }
                h5 {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-size: 2rem;
                    margin: 0;
                    color: black;
                }

                div {
                    position: absolute;
                    top: 100px;
                    left: 20px;
                    margin: 0;
                    padding: 5px 10px;
                    border: 3px solid #333;
                    font-weight: bold;
                    color: #333;
                    background: rgba(255, 255, 255, 0.3);
                }
                // background: url("../img/kategoriHerre.jpg") no-repeat center center;
                // background-size: cover;
                // // height: calc(((60vw - 250px) /2 ) * .6666);
                // height: 300px;
            }

            .catWomen {
                flex: 1;
                position: relative;
                margin: 5px 10px;

                h5 {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-size: 2rem;
                    margin: 0;
                    color: black;
                }

                div {
                    position: absolute;
                    top: 100px;
                    left: 20px;
                    margin: 0;
                    padding: 5px 10px;
                    border: 3px solid #333;
                    font-weight: bold;
                    color: #333;
                    background: rgba(255, 255, 255, 0.3);
                }
                // background: url("../img/kategoriKvinde.jpg") no-repeat center center;
                // background-size: cover;
                // // height: calc(((60vw - 250px) /2 ) * .6666);
                // height: 300px;
            }
        }

        .frontProducts {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            article {
                flex: 1 1 31%;
                margin: 1%;
                box-sizing: border-box;
                border: 1px solid #eee;
                display: flex;
                flex-direction: column;
                position: relative;

                img {
                    width: 100%;
                }
                .info {
                    text-align: center;
                    padding: 20px;

                    .stars {
                        .fa-star {
                            color: gold;
                        }

                        .fa-star-o {
                            color: black;
                        }
                    }
                }
                .description {
                    background: #f5f5f5;
                    padding: 20px 20px 0 20px;

                    .published {
                        color: darken(#f5f5f5, 30%);
                        margin: 0 10px;
                    }

                    p {
                        font-family: $base;

                        a {
                            color: #333;
                            display: block;
                        }
                    }

                    a.deleteMe {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        font-size: 1.2rem;
                        text-decoration: none;
                        border-radius: 50%;
                        background: rgba(0, 0, 0, 0.7);
                        color: white;
                        transition: 0.1s all;

                        &:hover {
                            background: rgba(0, 0, 0, 1);
                            color: rgba(194, 194, 194, 0.8);
                        }
                    }
                }
            }
        }
    }
}

footer .contact {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        list-style: none;
    }

    .social {
        display: flex;
        justify-content: center;

        i {
            padding: 5px 10px;
            font-size: 1.7rem;
        }
    }
}

h1.tagline {
    font-family: $navFont;
    text-align: center;
}

// Helpers
.container {
    width: 60%;
    margin: 0 auto;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.errorMsg {
    color: red;
    font-size: 2rem;
}

.center {
    text-align: center;
}

// Fonts
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headers;
    color: #666;
}

.bold {
    font-weight: bold;
}

// Mediaqueries
@media screen and (max-width: 1700px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    main .products .frontProducts article {
        flex: 1 1 48%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .contact ul li {
        padding: 5px 20px;
    }

    footer .contact ul {
        flex-wrap: wrap;
    }

    aside {
        display: none;
    }

    footer .contact {
        ul:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0;
            list-style: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    main .products .frontProducts article {
        flex: 1 1 98%;
    }

    main .products .inspiration {
        display: none;
    }

    form > div {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }

    .navbar {
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar nav ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    form > div:first-child {
        font-size: 0.8rem;
    }

    .slider {
        display: none;
    }

    .hide400 {
        display: none;
    }
}
.adminHeaderBtns{
    width: 100%;
}


#adminProducts{
    background-color: rgb(181, 225, 174);
  }
  #adminOrders{
    background-color: rgb(111, 183, 223);
  }
  #adminAccounts{
    background-color: rgb(255, 250, 129);
  }
  #adminCategories{
    background-color: rgb(252, 169, 133);
  }
  #adminApiKey{
    background-color: #ccbbee
  }
  .adp {
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 50%;
    height: 700px !important;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .adp h3 {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 15px 0;
  }
  .adp p {
    flex-grow: 1;
  }
  .adp a {
    display: block;
    text-decoration: none;
    width: 100%;
    background-color: #444444;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 5px;
  }
  .adp a:hover {
    background-color: #444444;
  }
  .adp-underlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99998;
  }
  
  

.manageCategoriesTable{
    form:nth-child(odd) {background: lightgray}
  }
  
  .manageApiTable{
    form:nth-child(odd) {background: lightgray}
    form{
      width: 100% !important;
    }
  }
  .manageProductsImg{
    width: 80px !important;
    overflow-y: hidden;
    overflow: hidden !important;
  }
  
  .hiddenTableResult{
    visibility: collapse;
  }
  .offWhite{
    background-color: #eaeaea;
  }
  
  
.inspiration{
    div{
        div{
            a{
                color: black;
            }
        }
    }
}

#adminAccessLevel{
    background-color: #ace7ff;
  }


#frontPageProductImg{
    width: 100%;
    
}
.card-body{
    h5{
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

#multi-item-example{
    width: 100%;
}

#adminHeadCategories{
    background-color: #a2e1db;
}

#bestSellersIndicator {
    position: relative;  
    li {
      background-color: darkgray;
    }
  }

  #addToCart {
    background-color: #333;
    color: white ;
  }

  .searchResultBox{
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      background-color: rgb(246, 246, 246);
      a{
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
  }

#cmdContainer{
    .footerDrawer {
        background-color: #eeeeee;
        width: 100%;
        position: fixed;
        bottom: 0;
      }
      
      .footerDrawer .open {
        background-color: #eeeeee;
      }
      
      .footerDrawer .cmdContent {
        height: 300px;
        background-color: #cccccc;
        display: none;
      }
    
      .cmdContent{
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          overflow-y:scroll;
          input{
              background-color:  #eeeeee;
              border: none;
              width: 100%;
              position: fixed;
              bottom: 0;
          }
          input:focus{
            outline: none;
        }
      }
}

.apiCheckBox{
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

.promotionalSlideshowImg{
    width: 300px;
}
.locationTable{
    overflow-y: scroll;
}


.locationRow{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
    p{
        margin: 0;
        margin-left: 40px;
    }
    p:last-of-type{
        margin-right: 40px;
    }
}
.locationRow:nth-child(even){
    background-color: lightgray;
}