:root {
  font-size: 18px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.5em;
  font-family: "Karla", sans-serif;
  font-size: 0.75em;
}

.top .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .language img {
  height: 22px;
}

.top .language > div,
.top .language > span {
  border: 1px solid #808080;
  padding: 4px 8px;
  background: #f5f5f5;
}

.top .language > span {
  padding-top: 6px;
}

.top .search * {
  text-align: center;
  right: 0;
}

.top .search input:first-child {
  border: 1px solid #808080;
  padding: 4px 8px;
  max-width: 200px;
}

.home img {
  height: 50px;
}

.home h2 {
  display: inline-block;
  padding: 0px 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar nav ul li {
  margin: 5px 10px;
  border-bottom: 3px solid white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar nav ul li.active, .navbar nav ul li:hover {
  border-bottom: 3px solid #333;
}

.navbar nav ul li a {
  color: black;
  text-decoration: none;
}

.navbar .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .basket .basketContent {
  background: #333;
  color: white;
}

.navbar .basket .basketContent p {
  padding: 10px 20px;
  margin: 0;
}

.navbar .basket .shopIcon {
  background: #777;
  color: white;
}

.navbar .basket .shopIcon i {
  padding: 10px 20px;
}

.login {
  padding: 10px;
  font-family: "Karla", sans-serif;
}

.login form {
  display: inline-block;
}

.login input[type="submit"] {
  background: #eee;
  border: 1px solid #bbb;
  padding: 2px 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login input[type="submit"]:hover {
  background: #d5d5d5;
}

.login #newUser {
  color: black;
  text-decoration: none;
}

.createArticle form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.createArticle form > div label {
  width: 120px;
}

.createArticle form > div input,
.createArticle form > div textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main aside {
  width: 250px;
}

main aside h4 {
  margin: 0;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: lighter;
}

main aside > div {
  padding: 0 20px;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  color: #666;
}

main aside > div > div:first-child {
  background: #d5d5d5;
}

main aside > div > div:nth-child(2) {
  background: #eee;
  font-family: "Karla", sans-serif;
}

main aside > div > div:nth-child(2) a {
  color: #666;
  text-decoration: none;
}

main aside > div > div:nth-child(2) ul,
main aside > div > div:nth-child(2) form {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 20px;
}

main aside > div > div:nth-child(2) ul li,
main aside > div > div:nth-child(2) ul input,
main aside > div > div:nth-child(2) form li,
main aside > div > div:nth-child(2) form input {
  padding: 5px 0;
  font-size: 0.75rem;
}

main aside > div > div:nth-child(2) ul input,
main aside > div > div:nth-child(2) form input {
  padding: 5px 10px;
  margin: 2px;
  background: white;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main aside > div > div:nth-child(2) ul input:hover,
main aside > div > div:nth-child(2) form input:hover {
  background: #eee;
}

main aside > div input[type="submit"] {
  border: 1px solid #bbb;
  background: #eee;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main aside > div input[type="submit"]:hover {
  background: #e1e1e1;
}

main aside > div .newsBottom {
  background: #d5d5d5;
  padding: 10px 20px;
  font-family: "Karla", sans-serif;
}

main .products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
}

main .products h3 {
  text-align: center;
}

main .products .inspiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .products .inspiration .frontpageHeadCategory {
  width: 45% !important;
}

main .products .inspiration .headCategory {
  position: relative;
  margin: 5px 10px;
  width: 30%;
}

main .products .inspiration .headCategory img {
  opacity: 0.7;
  height: 250px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

main .products .inspiration .headCategory img:hover {
  opacity: 1;
}

main .products .inspiration .headCategory h5 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  margin: 0;
  color: black;
}

main .products .inspiration .headCategory div {
  position: absolute;
  top: 100px;
  left: 20px;
  margin: 0;
  padding: 5px 10px;
  border: 3px solid #333;
  font-weight: bold;
  color: #333;
  background: rgba(255, 255, 255, 0.3);
}

main .products .inspiration .catWomen {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin: 5px 10px;
}

main .products .inspiration .catWomen h5 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  margin: 0;
  color: black;
}

main .products .inspiration .catWomen div {
  position: absolute;
  top: 100px;
  left: 20px;
  margin: 0;
  padding: 5px 10px;
  border: 3px solid #333;
  font-weight: bold;
  color: #333;
  background: rgba(255, 255, 255, 0.3);
}

main .products .frontProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .products .frontProducts article {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31%;
          flex: 1 1 31%;
  margin: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main .products .frontProducts article img {
  width: 100%;
}

main .products .frontProducts article .info {
  text-align: center;
  padding: 20px;
}

main .products .frontProducts article .info .stars .fa-star {
  color: gold;
}

main .products .frontProducts article .info .stars .fa-star-o {
  color: black;
}

main .products .frontProducts article .description {
  background: #f5f5f5;
  padding: 20px 20px 0 20px;
}

main .products .frontProducts article .description .published {
  color: darkgray;
  margin: 0 10px;
}

main .products .frontProducts article .description p {
  font-family: "Lato", sans-serif;
}

main .products .frontProducts article .description p a {
  color: #333;
  display: block;
}

main .products .frontProducts article .description a.deleteMe {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

main .products .frontProducts article .description a.deleteMe:hover {
  background: black;
  color: rgba(194, 194, 194, 0.8);
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

footer .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  list-style: none;
}

footer .contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact .social i {
  padding: 5px 10px;
  font-size: 1.7rem;
}

h1.tagline {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.container {
  width: 60%;
  margin: 0 auto;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.errorMsg {
  color: red;
  font-size: 2rem;
}

.center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  color: #666;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1700px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  main .products .frontProducts article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .contact ul li {
    padding: 5px 20px;
  }
  footer .contact ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  aside {
    display: none;
  }
  footer .contact ul:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    list-style: none;
  }
}

@media screen and (max-width: 1000px) {
  main .products .frontProducts article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 98%;
            flex: 1 1 98%;
  }
  main .products .inspiration {
    display: none;
  }
  form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  form > div:first-child {
    font-size: 0.8rem;
  }
  .slider {
    display: none;
  }
  .hide400 {
    display: none;
  }
}

.adminHeaderBtns {
  width: 100%;
}

#adminProducts {
  background-color: #b5e1ae;
}

#adminOrders {
  background-color: #6fb7df;
}

#adminAccounts {
  background-color: #fffa81;
}

#adminCategories {
  background-color: #fca985;
}

#adminApiKey {
  background-color: #ccbbee;
}

.adp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 50%;
  height: 700px !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.adp h3 {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 15px 0;
}

.adp p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.adp a {
  display: block;
  text-decoration: none;
  width: 100%;
  background-color: #444444;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  border-radius: 5px;
}

.adp a:hover {
  background-color: #444444;
}

.adp-underlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99998;
}

.manageCategoriesTable form:nth-child(odd) {
  background: lightgray;
}

.manageApiTable form:nth-child(odd) {
  background: lightgray;
}

.manageApiTable form {
  width: 100% !important;
}

.manageProductsImg {
  width: 80px !important;
  overflow-y: hidden;
  overflow: hidden !important;
}

.hiddenTableResult {
  visibility: collapse;
}

.offWhite {
  background-color: #eaeaea;
}

.inspiration div div a {
  color: black;
}

#adminAccessLevel {
  background-color: #ace7ff;
}

#frontPageProductImg {
  width: 100%;
}

.card-body h5 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#multi-item-example {
  width: 100%;
}

#adminHeadCategories {
  background-color: #a2e1db;
}

#bestSellersIndicator {
  position: relative;
}

#bestSellersIndicator li {
  background-color: darkgray;
}

#addToCart {
  background-color: #333;
  color: white;
}

.searchResultBox {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
}

.searchResultBox a {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#cmdContainer .footerDrawer {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#cmdContainer .footerDrawer .open {
  background-color: #eeeeee;
}

#cmdContainer .footerDrawer .cmdContent {
  height: 300px;
  background-color: #cccccc;
  display: none;
}

#cmdContainer .cmdContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow-y: scroll;
}

#cmdContainer .cmdContent input {
  background-color: #eeeeee;
  border: none;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#cmdContainer .cmdContent input:focus {
  outline: none;
}

.apiCheckBox {
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.apiCheckBox .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.apiCheckBox .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.apiCheckBox .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.apiCheckBox .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.apiCheckBox input:checked + .slider {
  background-color: #2196F3;
}

.apiCheckBox input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.apiCheckBox input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.apiCheckBox .slider.round {
  border-radius: 34px;
}

.apiCheckBox .slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=styles.css.map */