.mainInstall{
    background-color: whitesmoke;
    margin-top: 200px;
    form{
        padding-top: 50px;
        align-items: center;
        margin: 0 auto;
        min-width: 300px;
        width: 30%;
        display: flex;
        flex-direction: column;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 3px;
        input{
            width: 80%;
            margin: 4px;
            padding: 3px;
        }
        input:last-of-type{
            margin-top: 40px;
            margin-bottom: 30px;
            background-color: rgb(103, 103, 238);
            border: none;
            border-radius: 3px;
            color: white;
            padding: 5px;
        }
        button{
            margin-top: 40px;
            margin-bottom: 30px;
            background-color: rgb(103, 103, 238);
            border: none;
            border-radius: 3px;
            color: white;
            padding: 5px;
            width: 100%;
        }

    }
}

.installSettings{
    background-color: whitesmoke;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    div{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        background-color: white;
        min-width: 20%;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        padding-bottom: 30px;
        box-shadow: 5px 5px 31px -13px #000000;
        div{
            box-shadow: none;
        }
        form{
            display: flex;
            flex-direction: column;
            .submit{
                margin-top: 30px;
                background-color: rgb(103, 103, 238);
                border: none;
                border-radius: 3px;
                color: white;
                padding: 5px;
            }
        }
    }
}